/*001*/
body {
    font-family: "Optima", sans-serif;
    padding:6px;
    font-size:16px;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
/*001*/
h1 {
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 120px 10px;
    text-align: left; 
    font-size: 400%;
    background-repeat: no-repeat;
    background-position: top right;
}

button {
	border-radius: 1em;
	width: 10em;
	height: 5em;
	margin: 3em 3em;
	background-color: rgb(0, 0, 0);
	font-size: 1em;
	color: rgb(255, 255, 255);
}
/*001*/
h2 {
    color:#cc0002;
    font-size: 150%;
    text-transform: uppercase;
}
/*001*/
h3 {
    color:#000000;
    text-transform: uppercase;
}
/*001*/
footer {
    text-align: center;
}
/*010*/
.box {
    float: left;
    width: 16.66%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    background-color:#640002 ;
}  
/*010*/
  .boxInfo {
    content: "";
    clear: both;
    width: 100%;
    display: table;
} 
/*001*/
img {
    border: 10px solid #cc0002;
}
/*010*/
.centerimage {
    text-align: center;
}
/*001*/
ul {
    padding: 10px;
    list-style-type: circle;
    width: 30%;
}
/*001*/
li {
    padding: 6px;
}
/*002*/
ul li {
    margin-left: 20px;
}
/*001*/
th, td {
    padding: 6px;
    font-size:150%;
    text-align: center;
}
/*001*/
th {
    background-color: #f58f91;
}